{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Auctions{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">

</head>
<body>

    {% if messages %}
      <div class="container mt-3">
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
      </div>
    {% endif %}

    <div class="container-fluid py-3" style="text-align: left;">
        <h1 class="mb-1">Auctions</h1>

        {% if user.is_authenticated %}
            <p class="mb-3" style="font-weight: 500;">Logged in as {{ user.username }}</p>
        {% endif %}

        <nav class="mb-3 d-flex align-items-center" style="gap: 30px;">
            <a href="{% url 'index' %}" class="nav-link p-0" style="font-weight: 500;">Active Listings</a>
            <a href="{% url 'won_auctions' %}" class="nav-link" style="font-weight: 500;">Won Auctions</a>
  
            <a href="{% url 'categories' %}" class="nav-link p-0" style="font-weight: 500;">Categories</a>
            {% if user.is_authenticated %}
                <a href="{% url 'watchlist' %}" class="nav-link p-0" style="font-weight: 500;">Watchlist</a>
                <a href="{% url 'create' %}" class="nav-link p-0" style="font-weight: 500;">Create Listing</a>
                <a href="{% url 'logout' %}" class="nav-link p-0" style="font-weight: 500;">Log Out</a>
            {% else %}
                <a href="{% url 'login' %}" class="nav-link p-0" style="font-weight: 500;">Log In</a>
                <a href="{% url 'register' %}" class="nav-link p-0" style="font-weight: 500;">Register</a>
            {% endif %}
        </nav>
    </div>

    <hr>

    <div class="container-fluid" style="text-align: left;">
        {% block body %}
        {% endblock %}
    </div>

</body>
</html>
